<a href="https://colab.research.google.com/github/nichakornchaisuwan/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา Markdown

ข้อดีของ python คือมี package สำหรับทำงานต่างๆ ซึ่ง pandas เป็น package 

สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง  โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas #วิธีเรียกใช้ Package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกับข้างบน แต่มีการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ที่จะได้เจอเป็นหลัก คือ ไฟล์ .VSC = comma spparated values 

ข้อดี เป็นไฟล์ที่เก็บข้อมูลตาราง อ่านง่าย เข้าใจง่าย

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic python

## Variables

-ข้อจำกัด การตั้งชื่อตัวแปรห้ามมีเว้นวรรค

-ใช้ภาษาอังกฤษ พยายามใช้ภาษาอังกฤษ

-ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)

-ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
variable a = 6 #เพราะเว้นวรรค

SyntaxError: ignored

In [ ]:
ตัวแปร = 3 #ไม่ควรใช้ภาษาไทย
ตัวแปร

3

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)
v_a =1
V_a =2
print(v_a)
print(V_a)

1
2

In [ ]:
v_a =1 #ใช้ตัวแปรเดียวกัน การแสดงผลค่าเลยทับซ้อนกันไป
v_a =2
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นชื่อตัวแปร
2=1

SyntaxError: ignored

In [ ]:
2ab=1 #ห้ามใช้ตัวเลขเป็นตัวหน้า

SyntaxError: ignored

In [ ]:
variable =1
print(variable)

1

In [ ]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด
variable_d = -41.2
variable_4 = "KKU" # "" เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a+variable_b int + string บวกกันไม่ได้

SyntaxError: ignored

In [ ]:
print(variable_b+variable_4)

abcdeKKU

##Casting int() flat() Str()

In [ ]:
print (variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_x = str(variable_x)
print(V_x)

-29.200000000000003

In [ ]:
V_x + variable_a

TypeError: ignored

In [ ]:
variable_a + V_x

TypeError: ignored

In [ ]:
V_x

'-29.200000000000003'

In [ ]:
float(V_x)

-29.200000000000003

## Data structture

###list()

In [ ]:
list_a = [1,2,0.2,'abs'] #square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1]

2

String คือ list ของตัวหน้งสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

วิธีสร้าง list แบบที่2 การสร้าง list ว่าง

In [ ]:
list_c = list()
list_d = []

In [ ]:
list_c

[]

In [ ]:
list_d

[]

การเติมค่าลงไปใน list คือ . append

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

-ใช้ลำดับในการชี้

-ลำดับเริ่มจาก 0

-สามารถชี้จากข้างหลังได้โดยใช้ nagative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

###list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [ ]:
list_ex[1:6] #เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:Step]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] #กลับlist

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[:4]

'Stat'

In [ ]:
a[5:]

'KKU'

### list+list

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

###format string

```
f'string + {ตัวแปร}'
```

{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##loop

ทำงานซ้ำๆ หรือทำงานคล้ายๆกัน

Indent = เว้น

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in loop 
    do another thing #in loop

do other things #out side loop
```

In [ ]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
    print(i)

2
4
6

In [ ]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
    print('hahaha')
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

####nested loop

In [ ]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
end j loop
now i = 1
start j loop
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
end j loop
now i = 2
start j loop
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5
end j loop

###Condition เงื่อนไข (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ : 
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2

```

In [ ]:
stringx = 'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sadfasdfweirjwerslfbwilhfchdfspadofgi is longer than 30 characters

In [ ]:
stringx =  'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')

```python
if เงื่อนไขที่จะตรวจสอบ : (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x

```

In [ ]:
stringx =  'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)}characters long')

sadfasdfweirjwerslfbwilhfchdfspadofgi in 37characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=): 
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงน a1
     ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงน b1
     ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x

```

In [ ]:
password = '12345'

input_pass = '123af'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long,try again!')
elif len(input_pass) < len(password):
    print('Too short,try again!')
else:
    print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10:30)
min ='-19'

input_num ='1'
if input_num == min:
    print('correct')
elif len(input_num)>len(min):
    print('incorrect')

เฉลย*****

In [ ]:
min = 100000000
for i in list_ex:
    if i < min:
        min = i 
print(min)

-19

In [ ]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i<min, update min ->{i}')
        min = i 
    else:
        print('i>= min,not update')
    print ('end condition, go to next i')
print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i<min, update min ->1
end condition, go to next i
now i = 5, min = 1
start condition
i>= min,not update
end condition, go to next i
now i = 9, min = 1
start condition
i>= min,not update
end condition, go to next i
now i = -19, min = 1
start condition
i<min, update min ->-19
end condition, go to next i
now i = -2, min = -19
start condition
i>= min,not update
end condition, go to next i
now i = 0, min = -19
start condition
i>= min,not update
end condition, go to next i
-19

HW ตัดเกรด

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score ใช้ if ,for

In [ ]:
print(f'score{score}')
for i in score:
  if i >=90:
    print(f'score : {i} = Grade A')
  elif i >=85:
    print(f'score : {i} = Grade B+') 
  elif i >=75:
    print(f'score : {i} = Grade B')
  elif i >=70:
    print(f'score : {i} = Grade C+')
  elif i >=60:
    print(f'score : {i} = Grade C')
  elif i >=55:
    print(f'score : {i} = Grade D+')
  elif i >=50:
    print(f'score : {i} = Grade D')
  elif i <50:
    print(f'score : {i} = Grade F')

score[49, 65, 70, 95, 82, 55, 89, 20, 77, 77, 81, 59, 10]
score : 49 = Grade F
score : 65 = Grade C
score : 70 = Grade C+
score : 95 = Grade A
score : 82 = Grade B
score : 55 = Grade D+
score : 89 = Grade B+
score : 20 = Grade F
score : 77 = Grade B
score : 77 = Grade B
score : 81 = Grade B
score : 59 = Grade D+
score : 10 = Grade F

####Function

```python
def ชื่อฟังก์ชั่น(input1,input2,....):
    งานxxx
    งานyyy
    return output
```
ส่วนประกอบสำคัญ

-input

-process (ไม่มีไม่ได้)

-output

####Ex1

In [ ]:
def grading(score):
    if score >=90:
        grade =  'A'
    elif score >=85:
        grade =  'B+'
    elif score >=75:
        grade = 'B'
    elif score >=70:
        grade = 'C+'
    elif score >=60:
        grade = 'C'
    elif score >=55:
        grade =  'D+'
    elif score >=50:
        grade =  'D'
    elif score <50:
        grade = 'F'
    return grade

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน{i}  ได้เกรด {grading(i)}')

คะแนน49  ได้เกรด F
คะแนน65  ได้เกรด C
คะแนน70  ได้เกรด C+
คะแนน95  ได้เกรด A
คะแนน82  ได้เกรด B
คะแนน55  ได้เกรด D+
คะแนน89  ได้เกรด B+
คะแนน20  ได้เกรด F
คะแนน77  ได้เกรด B
คะแนน77  ได้เกรด B
คะแนน81  ได้เกรด B
คะแนน59  ได้เกรด D+
คะแนน10  ได้เกรด F

In [ ]:
def grading_list(list_score):
    grade_list = []
    for score in list_score:
      if score >=90:
        grade =  'A'
      elif score >=85:
        grade =  'B+'
      elif score >=75:
        grade = 'B'
      elif score >=70:
        grade = 'C+'
      elif score >=60:
        grade = 'C'
      elif score >=55:
        grade =  'D+'
      elif score >=50:
        grade =  'D'
      else:
        grade = 'F'
      grade_list.append([score,grade])
    return grade_list

In [ ]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C'],
 [70, 'C+'],
 [95, 'A'],
 [82, 'B'],
 [55, 'D+'],
 [89, 'B+'],
 [20, 'F'],
 [77, 'B'],
 [77, 'B'],
 [81, 'B'],
 [59, 'D+'],
 [10, 'F']]

In [ ]:
for i in g:
    print(f'คะแนน{i[0]}  ได้เกรด {i[1]}')

คะแนน49  ได้เกรด F
คะแนน65  ได้เกรด C
คะแนน70  ได้เกรด C+
คะแนน95  ได้เกรด A
คะแนน82  ได้เกรด B
คะแนน55  ได้เกรด D+
คะแนน89  ได้เกรด B+
คะแนน20  ได้เกรด F
คะแนน77  ได้เกรด B
คะแนน77  ได้เกรด B
คะแนน81  ได้เกรด B
คะแนน59  ได้เกรด D+
คะแนน10  ได้เกรด F

In [ ]:
def grading2(score):
    if score >=90:
        return 'A'
    elif score >=85:
        return 'B+'
    elif score >=75:
        return 'B'
    elif score >=70:
        return 'C+'
    elif score >=60:
        return 'C'
    elif score >=55:
        return 'D+'
    elif score >=50:
        return 'D'
    else:
        return 'F'

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน{i}  ได้เกรด {grading2(i)}')

คะแนน49  ได้เกรด F
คะแนน65  ได้เกรด C
คะแนน70  ได้เกรด C+
คะแนน95  ได้เกรด A
คะแนน82  ได้เกรด B
คะแนน55  ได้เกรด D+
คะแนน89  ได้เกรด B+
คะแนน20  ได้เกรด F
คะแนน77  ได้เกรด B
คะแนน77  ได้เกรด B
คะแนน81  ได้เกรด B
คะแนน59  ได้เกรด D+
คะแนน10  ได้เกรด F

####Ex2 ไม่มี input

In [ ]:
def mypi():
    return 3.14

In [ ]:
r=10
print(f'รัศมี = {r} จะมีเส้นรอบวง ={2*mypi()*r}')

รัศมี = 10 จะมีเส้นรอบวง =62.800000000000004

####Ex3 ไม่มี output

In [ ]:
def grading_nooutput(score):
  if i >=90:
    print(f'score : {i} = Grade A')
  elif i >=85:
    print(f'score : {i} = Grade B+') 
  elif i >=75:
    print(f'score : {i} = Grade B')
  elif i >=70:
    print(f'score : {i} = Grade C+')
  elif i >=60:
    print(f'score : {i} = Grade C')
  elif i >=55:
    print(f'score : {i} = Grade D+')
  elif i >=50:
    print(f'score : {i} = Grade D')
  elif i <50:
    print(f'score : {i} = Grade F')

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน{i}' ,end='')
    grading_nooutput(i)

คะแนน49score : 49 = Grade F
คะแนน65score : 65 = Grade C
คะแนน70score : 70 = Grade C+
คะแนน95score : 95 = Grade A
คะแนน82score : 82 = Grade B
คะแนน55score : 55 = Grade D+
คะแนน89score : 89 = Grade B+
คะแนน20score : 20 = Grade F
คะแนน77score : 77 = Grade B
คะแนน77score : 77 = Grade B
คะแนน81score : 81 = Grade B
คะแนน59score : 59 = Grade D+
คะแนน10score : 10 = Grade F

####Ex4 ไม่มีinput output

In [ ]:
def draw_rect():
    print('===========')
    print('|         |')
    print('|         |')
    print('===========')

In [ ]:
draw_rect()
draw_rect()

===========
|         |
|         |
===========
===========
|         |
|         |
===========

##ลักษณะของ input (parameter)


*   จำเป็นต้องใส่ (non-default argument)
*   ไม่จำเป็นต้องใส่

In [ ]:
def A(input1,input2 = 3):
    return input1+input2

In [ ]:
A(1)

4

In [ ]:
A(1,6)

7

In [ ]:
def printlove(input1,input2 = 'Stat',input3 = 'KKU'):
    print(f'{input1} love {input2} {input3}')

In [ ]:
printlove('Thanapong')

Thanapong love Stat KKU

In [ ]:
printlove('Thanapong','SI','Stat')

Thanapong love SI Stat

In [ ]:
printlove(input3 = 'Thanapong',input2 = 'SI',input1='Stat')

Stat love SI Thanapong

In [ ]:
def printlove(input2 = 'Stat',input1,input3='KKU'):
    print(f'{input1} love {input2} {input3}')

SyntaxError: ignored

##Quiz4

สร้างฟังก์ชั่น


*   วาดรูปบ้าน
*   วาดรูปต้นไม้

In [ ]:
def draw_home():
    print(' /___________\ ')
    print(' |           | ')
    print(' |           | ')
    print(' |    _      | ')
    print(' ____|_|______ ' )

In [ ]:
draw_home()

 /___________\
 |           |
 |           |
 |    _      |
 ____|_|______