<a href="https://colab.research.google.com/github/nichakornchaisuwan/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา Markdown

ข้อดีของ python คือมี package สำหรับทำงานต่างๆ ซึ่ง pandas เป็น package 

สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง  โดย pandas จะเรียกตารางนั้นว่า dataframe

In [2]:
import pandas #วิธีเรียกใช้ Package คือ import ตามด้วยชื่อ package

In [3]:
import pandas as pd # เหมือนกับข้างบน แต่มีการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ที่จะได้เจอเป็นหลัก คือ ไฟล์ .VSC = comma spparated values 

ข้อดี เป็นไฟล์ที่เก็บข้อมูลตาราง อ่านง่าย เข้าใจง่าย

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic python

## Variables

-ข้อจำกัด การตั้งชื่อตัวแปรห้ามมีเว้นวรรค

-ใช้ภาษาอังกฤษ พยายามใช้ภาษาอังกฤษ

-ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)

-ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด

In [9]:
variable_a

12

In [10]:
variable_b

'abcde'

In [11]:
variable_c

12

In [12]:
variable a = 6 #เพราะเว้นวรรค

SyntaxError: ignored

In [15]:
ตัวแปร = 3 #ไม่ควรใช้ภาษาไทย
ตัวแปร

3

In [16]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)
v_a =1
V_a =2
print(v_a)
print(V_a)

1
2

In [17]:
v_a =1 #ใช้ตัวแปรเดียวกัน การแสดงผลค่าเลยทับซ้อนกันไป
v_a =2
print(v_a)
print(v_a)

2
2

In [18]:
#ห้ามใช้ตัวเลขเป็นชื่อตัวแปร
2=1

SyntaxError: ignored

In [19]:
2ab=1 #ห้ามใช้ตัวเลขเป็นตัวหน้า

SyntaxError: ignored

In [21]:
variable =1
print(variable)

1

In [22]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด
variable_d = -41.2
variable_4 = "KKU" # "" เรียกว่า double quote

In [25]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [26]:
variable_a+variable_b int + string บวกกันไม่ได้

TypeError: ignored

In [27]:
print(variable_b+variable_4)

abcdeKKU

##Casting int() flat() Str()

In [30]:
print (variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [32]:
V_x = str(variable_x)
print(V_x)

-29.200000000000003

In [33]:
V_x + variable_a

TypeError: ignored

In [34]:
variable_a + V_x

TypeError: ignored

In [35]:
V_x

'-29.200000000000003'

In [36]:
float(V_x)

-29.200000000000003

## Data structture

###list()

In [39]:
list_a = [1,2,0.2,'abs'] #square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [40]:
list_a

[1, 2, 0.2, 'abs']

In [41]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [43]:
len(list_b)

4

In [44]:
list_b[3]

[1, 2, 0.0]

In [45]:
list_b[3][1]

2

String คือ list ของตัวหน้งสือ

In [46]:
a = 'Stat KKU'

In [47]:
a[4]

' '

วิธีสร้าง list แบบที่2 การสร้าง list ว่าง

In [48]:
list_c = list()
list_d = []

In [49]:
list_c

[]

In [50]:
list_d

[]

การเติมค่าลงไปใน list คือ . append

In [51]:
list_d.append('a')

In [52]:
list_d

['a']

In [53]:
list_d.append(56)

In [54]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

-ใช้ลำดับในการชี้

-ลำดับเริ่มจาก 0

-สามารถชี้จากข้างหลังได้โดยใช้ nagative index

In [55]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [56]:
list_b[-1]

[1, 2, 0.0]

##list slicing

In [57]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [60]:
list_ex[1:6] #เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [61]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [62]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:Step]

In [63]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [66]:
list_ex[::-1] #กลับlist

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [67]:
a

'Stat KKU'

In [68]:
a[:4]

'Stat'

In [69]:
a[5:]

'KKU'

### list+list

In [71]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

####format string

```
f'string + {ตัวแปร}'
```

{} เรียกว่า curly brackets

In [75]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [74]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [76]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [77]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [78]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [81]:
for i in range(2,7,2):
    print(i)

2
4
6

In [82]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [83]:
for i in range(5):
    print('hahaha')
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

####nested loop

In [86]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [89]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
end j loop
now i = 1
start j loop
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
end j loop
now i = 2
start j loop
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5
end j loop

###Condition

####Function