<a href="https://colab.research.google.com/github/nichakornchaisuwan/DWDM21/blob/main/Data101(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา Markdown

ข้อดีของ python คือมี package สำหรับทำงานต่างๆ ซึ่ง pandas เป็น package 

สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง  โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas #วิธีเรียกใช้ Package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # เหมือนกับข้างบน แต่มีการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ที่จะได้เจอเป็นหลัก คือ ไฟล์ .VSC = comma spparated values 

ข้อดี เป็นไฟล์ที่เก็บข้อมูลตาราง อ่านง่าย เข้าใจง่าย

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic python

## Variables

-ข้อจำกัด การตั้งชื่อตัวแปรห้ามมีเว้นวรรค

-ใช้ภาษาอังกฤษ พยายามใช้ภาษาอังกฤษ

-ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)

-ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

In [11]:
variable a = 6 #เพราะเว้นวรรค

SyntaxError: ignored

In [12]:
ตัวแปร = 3 #ไม่ควรใช้ภาษาไทย
ตัวแปร

3

In [13]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน มีความหมายคนละตัวแปร (case sensitive)
v_a =1
V_a =2
print(v_a)
print(V_a)

1
2

In [14]:
v_a =1 #ใช้ตัวแปรเดียวกัน การแสดงผลค่าเลยทับซ้อนกันไป
v_a =2
print(v_a)
print(v_a)

2
2

In [15]:
#ห้ามใช้ตัวเลขเป็นชื่อตัวแปร
2=1

SyntaxError: ignored

In [16]:
2ab=1 #ห้ามใช้ตัวเลขเป็นตัวหน้า

SyntaxError: ignored

In [17]:
variable =1
print(variable)

1

In [18]:
variable_a =12 #ตัวเลข
variable_b ='abcde' #'เรียกว่า quote string
variable_c = variable_a #ไม่มีโค๊ด
variable_d = -41.2
variable_4 = "KKU" # "" เรียกว่า double quote

In [19]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [20]:
variable_a+variable_b int + string บวกกันไม่ได้

SyntaxError: ignored

In [21]:
print(variable_b+variable_4)

abcdeKKU

##Casting int() flat() Str()

In [22]:
print (variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [23]:
V_x = str(variable_x)
print(V_x)

-29.200000000000003

In [24]:
V_x + variable_a

TypeError: ignored

In [25]:
variable_a + V_x

TypeError: ignored

In [26]:
V_x

'-29.200000000000003'

In [27]:
float(V_x)

-29.200000000000003

## Data structture

###list()

In [28]:
list_a = [1,2,0.2,'abs'] #square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [29]:
list_a

[1, 2, 0.2, 'abs']

In [30]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [31]:
len(list_b)

4

In [32]:
list_b[3]

[1, 2, 0.0]

In [33]:
list_b[3][1]

2

String คือ list ของตัวหน้งสือ

In [34]:
a = 'Stat KKU'

In [35]:
a[4]

' '

วิธีสร้าง list แบบที่2 การสร้าง list ว่าง

In [36]:
list_c = list()
list_d = []

In [37]:
list_c

[]

In [38]:
list_d

[]

การเติมค่าลงไปใน list คือ . append

In [39]:
list_d.append('a')

In [40]:
list_d

['a']

In [41]:
list_d.append(56)

In [42]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

-ใช้ลำดับในการชี้

-ลำดับเริ่มจาก 0

-สามารถชี้จากข้างหลังได้โดยใช้ nagative index

In [43]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [44]:
list_b[-1]

[1, 2, 0.0]

##list slicing

In [45]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [46]:
list_ex[1:6] #เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [47]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [48]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:Step]

In [49]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [50]:
list_ex[::-1] #กลับlist

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [51]:
a

'Stat KKU'

In [52]:
a[:4]

'Stat'

In [53]:
a[5:]

'KKU'

### list+list

In [54]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

####format string

```
f'string + {ตัวแปร}'
```

{} เรียกว่า curly brackets

In [55]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

##loop

ทำงานซ้ำๆ หรือทำงานคล้ายๆกัน

Indent = เว้น

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in loop 
    do another thing #in loop

do other things #out side loop
```

In [56]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [57]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [58]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [61]:
for i in range(2,7,2):
    print(i)

2
4
6

In [62]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [63]:
for i in range(5):
    print('hahaha')
    x = i+3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

####nested loop

In [64]:
for i in range(3):
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')

 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5

In [65]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f' i= {i} j ={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
 i= 0 j =0 i+j=0
 i= 0 j =1 i+j=1
 i= 0 j =2 i+j=2
 i= 0 j =3 i+j=3
end j loop
now i = 1
start j loop
 i= 1 j =0 i+j=1
 i= 1 j =1 i+j=2
 i= 1 j =2 i+j=3
 i= 1 j =3 i+j=4
end j loop
now i = 2
start j loop
 i= 2 j =0 i+j=2
 i= 2 j =1 i+j=3
 i= 2 j =2 i+j=4
 i= 2 j =3 i+j=5
end j loop

###Condition เงื่อนไข (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ : 
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2

```

In [72]:
stringx = 'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sadfasdfweirjwerslfbwilhfchdfspadofgi is longer than 30 characters

In [76]:
stringx =  'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')

```python
if เงื่อนไขที่จะตรวจสอบ : 
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x

```

In [77]:
stringx =  'sadfasdfweirjwerslfbwilhfchdfspadofgi'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)}characters long')

sadfasdfweirjwerslfbwilhfchdfspadofgi in 37characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=): 
     ถ้าเงื่อนไขเป็นจริง ทำงน 1
     ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงน a1
     ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงน b1
     ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x

```

In [82]:
password = '12345'

input_pass = '123af'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long,try again!')
elif len(input_pass) < len(password):
    print('Too short,try again!')
else:
    print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [85]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10:30)
min ='-19'

input_num ='1'
if input_num == min:
    print('correct')
elif len(input_num)>len(min):
    print('incorrect')

Quiz 2 ตัดเกรด

####Function