<a href="https://colab.research.google.com/github/nichakornchaisuwan/DWDM21/blob/main/ProjectFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **สมาชิก**
**Sandboxนะจ๊ะ**
1. 623020516-1 นางสาวชนัญชิดา เมธีกุลมานิต
2. 623020521-8 นางสาวณิชากร ไชยสุวรรณ
3. 623021040-9 นางสาวกิตติมา อุปสุข
4. 623021050-6 นางสาวนฤมล ไสยโสภณ
5. 623021052-2 นางสาวภิญญาดา เพ็ญสุข

###แหล่งที่มาของข้อมูล
* ย่านชุมชนเก่า แหล่งที่มาของข้อมูล https://data.go.th/dataset/old-community?fbclid=IwAR0TJxEAwTtBKYS853iy-LVEDE09z9WawwXii0BufdHWwojpU0_Lvw3ciYM
* ผู้เยี่ยมเยือน จำแนกตามจังหวัด แหล่งท่มาของข้อมูล https://data.go.th/dataset/visitors?fbclid=IwAR0mLjK4IUjLWa99UBhG5sM6FGGnicg_iVRzQHTp8btujsUbFEOzmGFaRYA
* รายได้จากการท่องเที่ยว จำแนกรายจังหวัด https://data.go.th/dataset/1559?fbclid=IwAR3-ZnxUzDyap-vs3T3vdkkwXgIu5ye3pwha8okKoZk6MQMhYl6KNmYeu9M

In [1]:
import pandas as pd # ทำงานกับข้อมูลลักษณะตาราง

In [2]:
from google.colab import drive # package เชื่อม google  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ls

drive/  sample_data/

In [4]:
import os # จัดการไฟล์และ path (ที่อยู่ของไฟล์)

In [7]:
path = '/content/drive/My Drive/DWDM21_DATA'

### นำเข้าข้อมูล

#### ข้อมูลที่ 1 ย่านชุมชนเก่า

In [9]:
data_1 = pd.read_csv(os.path.join(path,'old-community-area-updated-may-2021.csv')) # ย่านชุมชนเก่า
data_1

     ลำดับที่  ...                                        ลักษณะสำคัญ
0           1  ...  นครชุม เป็นชุมชนตลาดการค้า ที่มีประวัติความเป็...
1           2  ...  บ้านพรานกระต่าย เป็นชุมชนเกษตรกรรมชนบท ที่มีเร...
2           3  ...  บ้านห้วยแม่ซ้าย เป็นชุมชนเกษตรกรรม และชุมชนชาต...
3           4  ...  บ้านถ้ำผาตอง เป็นชุมชนเกษตรกรรม และชุมชนกลุ่มอ...
4           5  ...  บ้านกะเหรี่ยงรวมมิตร เป็นชุมชนเกษตรกรรม ชุมชนต...
..        ...  ...                                                ...
608       609  ...  ชุมชนบ้านปะอาว เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พ...
609       610  ...  ชุมชนพาณิชยกรรมเก่า เป็นย่านพาณิชยกรรมเก่าแห่ง...
610       611  ...  ชุมชนแก่งสะพือ เป็นย่านชุมชนเก่าริมน้ำแม่น้ำมู...
611       612  ...  ชุมชนบ้านแคน เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พื้...
612       613  ...  ชุมชนบ้านชาด เป็นชุมชนเก่าตั้งอยู่ใกล้กับแหล่ง...

[613 rows x 9 columns]

**ตาราง data_city คือ ข้อมูลย่านชุมชนเก่า**

**คำอธิบายตาราง**

*   ชื่อย่านชุมชนเก่า คือ ชื่อของชุมชนเก่า
*   ตำบล คือ ที่ตั้งของชุมชนเก่า
* อำเภอ คือ ที่ตั้งของชุมชนเก่า
* จังหวัด คือ เขตที่ตั้งของชุมชนเก่า
* ภาค คือ ภูมิประเทศที่ตั้งของชุมชนเก่า
* East คือ ลองจิจูดองศาตะวันออกที่ตั้งของชุมชนเก่า
* North คือ ละติจูดองศาเหนือที่ตั้งของชุมชนเก่า
* ลักษณะสำคัญ คือ รายละเอียดของชุมชนเก่า

In [10]:
data_city = data_1[['ชื่อย่านชุมชนเก่า','ตำบล','อำเภอ','จังหวัด','ภาค','East','North','ลักษณะสำคัญ']] # ย่านชุมชนเก่า
data_city

              ชื่อย่านชุมชนเก่า  ...                                        ลักษณะสำคัญ
0                        นครชุม  ...  นครชุม เป็นชุมชนตลาดการค้า ที่มีประวัติความเป็...
1               บ้านพรานกระต่าย  ...  บ้านพรานกระต่าย เป็นชุมชนเกษตรกรรมชนบท ที่มีเร...
2    บ้านห้วยแม่ซ้าย (บ้านยะฟู)  ...  บ้านห้วยแม่ซ้าย เป็นชุมชนเกษตรกรรม และชุมชนชาต...
3                  บ้านถ้ำผาตอง  ...  บ้านถ้ำผาตอง เป็นชุมชนเกษตรกรรม และชุมชนกลุ่มอ...
4          บ้านกะเหรี่ยงรวมมิตร  ...  บ้านกะเหรี่ยงรวมมิตร เป็นชุมชนเกษตรกรรม ชุมชนต...
..                          ...  ...                                                ...
608              ชุมชนบ้านปะอาว  ...  ชุมชนบ้านปะอาว เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พ...
609         ชุมชนพาณิชยกรรมเก่า  ...  ชุมชนพาณิชยกรรมเก่า เป็นย่านพาณิชยกรรมเก่าแห่ง...
610              ชุมชนแก่งสะพือ  ...  ชุมชนแก่งสะพือ เป็นย่านชุมชนเก่าริมน้ำแม่น้ำมู...
611                ชุมชนบ้านแคน  ...  ชุมชนบ้านแคน เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พื้...
612                ชุมชนบ้านชาด  ...  ชุมชนบ้านชาด เป็นชุมชนเก่าตั้งอยู่ใกล้กับแหล่ง...

[613 rows x 8 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_city

In [11]:
data_city.isnull().any()

ชื่อย่านชุมชนเก่า    False
ตำบล                 False
อำเภอ                False
จังหวัด              False
ภาค                  False
East                 False
North                False
ลักษณะสำคัญ          False
dtype: bool

แสดงผลเป็น False ทั้งหมด แปลว่า ไม่มีค่า missing ในข้อมูล ย่านชุมชนเก่า

#### ข้อมูลที่ 2 ผู้เยี่ยมเยือน จำแนกตามจังหวัด

In [12]:
data_2= pd.read_csv(os.path.join(path,'visitors.csv'))  # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_2

            จังหวัด รหัสจังหวัด        2549  ...      2560      2561  Unnamed: 15
0     กรุงเทพมหานคร       th-bm  36172138.0  ...  63575737  65534281          NaN
1       สมุทรปราการ       th-sp    958352.0  ...   3218934   3373639          NaN
2           นนทบุรี       th-no    830593.0  ...   2514677   2664025          NaN
3          ปทุมธานี       th-pt    868449.0  ...   2014281   2098344          NaN
4   พระนครศรีอยุธยา       th-pa   3373929.0  ...   7631557   8349613          NaN
..              ...         ...         ...  ...       ...       ...          ...
72             ตรัง       th-tg    726373.0  ...   1514092   1578906          NaN
73           พัทลุง       th-pl    448000.0  ...   1569333   1641841          NaN
74          ปัตตานี       th-pi    160320.0  ...    272739    281988          NaN
75             ยะลา       th-yl    282463.0  ...    657317    680018          NaN
76         นราธิวาส       th-nw    336473.0  ...    665710    692057          NaN

[77 rows x 16 columns]

ตัดตารางข้อมูลของ data_2 เลือกเฉพาะข้อมูลปี 2555-2561

In [13]:
data_visitor = data_2[['จังหวัด','รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_visitor

            จังหวัด รหัสจังหวัด      2555  ...      2559      2560      2561
0     กรุงเทพมหานคร       th-bm  47185031  ...  59196331  63575737  65534281
1       สมุทรปราการ       th-sp   2107433  ...   2900180   3218934   3373639
2           นนทบุรี       th-no   1663990  ...   2090095   2514677   2664025
3          ปทุมธานี       th-pt   1474292  ...   1896549   2014281   2098344
4   พระนครศรีอยุธยา       th-pa   6066545  ...   7216514   7631557   8349613
..              ...         ...       ...  ...       ...       ...       ...
72             ตรัง       th-tg   1137961  ...   1465811   1514092   1578906
73           พัทลุง       th-pl   1089992  ...   1487188   1569333   1641841
74          ปัตตานี       th-pi    214285  ...    257143    272739    281988
75             ยะลา       th-yl    429044  ...    624879    657317    680018
76         นราธิวาส       th-nw    489944  ...    646020    665710    692057

[77 rows x 9 columns]

เปลี่ยนชื่อ column (data_visitor)

In [14]:
data_visitor.rename(columns={'2555':'2555visitor'},inplace=True)
data_visitor.rename(columns={'2556':'2556visitor'},inplace=True)
data_visitor.rename(columns={'2557':'2557visitor'},inplace=True)
data_visitor.rename(columns={'2558':'2558visitor'},inplace=True)
data_visitor.rename(columns={'2559':'2559visitor'},inplace=True)
data_visitor.rename(columns={'2560':'2560visitor'},inplace=True)
data_visitor.rename(columns={'2561':'2561visitor'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**ตาราง data_visitor คือ ข้อมูลผู้เยี่ยมเยือน จำแนกตามจังหวัด**

**คำอธิบายตาราง**

* จังหวัด คือ ที่ตั้งของแหล่งท่องเที่ยว
* รหัสจังหวัด คือ รหัสประจำของจังหวัดนั้นๆ 
* 2555visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2556visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2557visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2558visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2559visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2560visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2561visitor คือ จำนวนผู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ

In [15]:
data_visitor

            จังหวัด รหัสจังหวัด  ...  2560visitor  2561visitor
0     กรุงเทพมหานคร       th-bm  ...     63575737     65534281
1       สมุทรปราการ       th-sp  ...      3218934      3373639
2           นนทบุรี       th-no  ...      2514677      2664025
3          ปทุมธานี       th-pt  ...      2014281      2098344
4   พระนครศรีอยุธยา       th-pa  ...      7631557      8349613
..              ...         ...  ...          ...          ...
72             ตรัง       th-tg  ...      1514092      1578906
73           พัทลุง       th-pl  ...      1569333      1641841
74          ปัตตานี       th-pi  ...       272739       281988
75             ยะลา       th-yl  ...       657317       680018
76         นราธิวาส       th-nw  ...       665710       692057

[77 rows x 9 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_visitor

In [16]:
data_visitor.isnull().any()

จังหวัด        False
รหัสจังหวัด    False
2555visitor    False
2556visitor    False
2557visitor    False
2558visitor    False
2559visitor    False
2560visitor    False
2561visitor    False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า Missing ในข้อมูล ผู้เยี่ยมเยือน จำแนกตามจังหวัด

#### ข้อมููลที่ 3 รายได้จากการท่องเที่ยว จำแนกตามจังหวัด

In [17]:
data_3= pd.read_csv(os.path.join(path,'revenue.csv')) # รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_3

          จังหวัด รหัสจังหวัด       2555  ...       2559          2560        2561
0   กรุงเทพมหานคร       th-bm  570327.58  ...  822454.21  947946.30000  1051118.51
1       กาญจนบุรี       th-kn   11910.00  ...   20404.73   24440.77288    27138.35
2        จันทบุรี       th-ct    4214.00  ...    5630.03    7628.47000     8469.45
3      ฉะเชิงเทรา       th-cc    3571.69  ...    4240.41    4655.55000     5007.28
4          ชลบุรี       th-cb  100537.00  ...  187788.42  240610.45000   272435.77
..            ...         ...        ...  ...        ...           ...         ...
72          ระนอง       th-rn    2780.00  ...    3954.75    4311.07000     4706.13
73          สงขลา       th-sg   26702.00  ...   53493.02   59831.77000    68097.42
74           สตูล       th-sa    5332.00  ...    7438.85    8168.70000     9101.47
75   สุราษฎร์ธานี       th-st   35312.00  ...   76546.39   92228.01000   104503.71
76         บึงกาฬ       th-bk       0.00  ...     900.50     976.61000     1047.13

[77 rows x 9 columns]

ตัดตารางข้อมูลของ data_3 เลือกเฉพาะข้อมูลปี 2555-2561

In [18]:
data_income = data_3[['รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] #รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_income

   รหัสจังหวัด       2555       2556  ...       2559          2560        2561
0        th-bm  570327.58  626535.05  ...  822454.21  947946.30000  1051118.51
1        th-kn   11910.00   13417.00  ...   20404.73   24440.77288    27138.35
2        th-ct    4214.00    4569.00  ...    5630.03    7628.47000     8469.45
3        th-cc    3571.69    3735.06  ...    4240.41    4655.55000     5007.28
4        th-cb  100537.00  111109.00  ...  187788.42  240610.45000   272435.77
..         ...        ...        ...  ...        ...           ...         ...
72       th-rn    2780.00    3250.00  ...    3954.75    4311.07000     4706.13
73       th-sg   26702.00   37276.00  ...   53493.02   59831.77000    68097.42
74       th-sa    5332.00    5905.00  ...    7438.85    8168.70000     9101.47
75       th-st   35312.00   51550.00  ...   76546.39   92228.01000   104503.71
76       th-bk       0.00       0.00  ...     900.50     976.61000     1047.13

[77 rows x 8 columns]

เปลี่ยนชื่อ column (data_income)

In [19]:
data_income.rename(columns={'2555':'2555income'},inplace=True)
data_income.rename(columns={'2556':'2556income'},inplace=True)
data_income.rename(columns={'2557':'2557income'},inplace=True)
data_income.rename(columns={'2558':'2558income'},inplace=True)
data_income.rename(columns={'2559':'2559income'},inplace=True)
data_income.rename(columns={'2560':'2560income'},inplace=True)
data_income.rename(columns={'2561':'2561income'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**ตาราง data_income คือ รายได้จากการท่องเที่ยว จำแนกตามจังหวัด**

**คำอธิบายตาราง**

* รหัสจังหวัด คือ รหัสประจำของจังหวัดนั้นๆ 
* 2555income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2556income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ  
* 2557income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2558income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2559income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2560income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ 
* 2561income คือ รายได้จากผูู้ที่มาเยี่ยมชมแหล่งท่องเที่ยวในจังหวัดนั้นๆ

In [20]:
data_income

   รหัสจังหวัด  2555income  2556income  ...  2559income    2560income  2561income
0        th-bm   570327.58   626535.05  ...   822454.21  947946.30000  1051118.51
1        th-kn    11910.00    13417.00  ...    20404.73   24440.77288    27138.35
2        th-ct     4214.00     4569.00  ...     5630.03    7628.47000     8469.45
3        th-cc     3571.69     3735.06  ...     4240.41    4655.55000     5007.28
4        th-cb   100537.00   111109.00  ...   187788.42  240610.45000   272435.77
..         ...         ...         ...  ...         ...           ...         ...
72       th-rn     2780.00     3250.00  ...     3954.75    4311.07000     4706.13
73       th-sg    26702.00    37276.00  ...    53493.02   59831.77000    68097.42
74       th-sa     5332.00     5905.00  ...     7438.85    8168.70000     9101.47
75       th-st    35312.00    51550.00  ...    76546.39   92228.01000   104503.71
76       th-bk        0.00        0.00  ...      900.50     976.61000     1047.13

[77 rows x 8 columns]

ตรวจสอบค่า missing ของข้อมูลตาราง data_income

In [21]:
data_income.isnull().any()

รหัสจังหวัด    False
2555income     False
2556income     False
2557income     False
2558income     False
2559income     False
2560income     False
2561income     False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า missing ในข้อมูล รายได้จากการท่องเที่ยว จำแนกตามจังหวัด

### รวม 2 ตารางเข้าด้วยกัน .merge()

เชื่อมตาราง data_visitor กับตาราง data_income เข้าด้วยกันด้วย 'รหัสจังหวัด'

In [22]:
merged_data_visitor_data_income = data_visitor.merge(data_income,how='left',left_on='รหัสจังหวัด',right_on='รหัสจังหวัด') 
merged_data_visitor_data_income

            จังหวัด รหัสจังหวัด  ...  2560income  2561income
0     กรุงเทพมหานคร       th-bm  ...   947946.30  1051118.51
1       สมุทรปราการ       th-sp  ...     6144.65     6656.34
2           นนทบุรี       th-no  ...     3963.09     4368.99
3          ปทุมธานี       th-pt  ...     3172.61     3443.06
4   พระนครศรีอยุธยา       th-pa  ...    16901.48    18718.90
..              ...         ...  ...         ...         ...
72             ตรัง       th-tg  ...     9028.01     9916.29
73           พัทลุง       th-pl  ...     3155.92     3489.08
74          ปัตตานี       th-pi  ...      996.16     1100.97
75             ยะลา       th-yl  ...     3145.57     3443.17
76         นราธิวาส       th-nw  ...     2888.53     3137.67

[77 rows x 16 columns]

In [23]:
merged_data_visitor_data_income.isnull().any() # ตรวจสอบค่า missing

จังหวัด        False
รหัสจังหวัด    False
2555visitor    False
2556visitor    False
2557visitor    False
2558visitor    False
2559visitor    False
2560visitor    False
2561visitor    False
2555income     False
2556income     False
2557income     False
2558income     False
2559income     False
2560income     False
2561income     False
dtype: bool

แสดงผลเป็น false ทั้งหมด หมายความว่า ไม่มีค่า missing ในข้อมูล จากการรวมตารางของ รายได้ และ ผู้เยี่ยมเยือนเข้าด้วยกัน

#### หลังจากผ่านการตรวจสอบ missing แล้ว นำข้อมูลที่ได้จากการรวมตารางครั้งแรกมาเชื่อมกับตาราง data_city

In [24]:
data_mix = merged_data_visitor_data_income.merge(data_city,how='left',left_on='จังหวัด',right_on='จังหวัด')
data_mix

           จังหวัด  ...                                        ลักษณะสำคัญ
0    กรุงเทพมหานคร  ...                                                NaN
1      สมุทรปราการ  ...  ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2      สมุทรปราการ  ...  ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3      สมุทรปราการ  ...  ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4      สมุทรปราการ  ...  ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
..             ...  ...                                                ...
609       นราธิวาส  ...  ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610       นราธิวาส  ...  ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611       นราธิวาส  ...  ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612       นราธิวาส  ...  ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613       นราธิวาส  ...  ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...

[614 rows x 23 columns]

In [25]:
data_mix.isnull().any() # ตรวจสอบค่า missing

จังหวัด              False
รหัสจังหวัด          False
2555visitor          False
2556visitor          False
2557visitor          False
2558visitor          False
2559visitor          False
2560visitor          False
2561visitor          False
2555income           False
2556income           False
2557income           False
2558income           False
2559income           False
2560income           False
2561income           False
ชื่อย่านชุมชนเก่า     True
ตำบล                  True
อำเภอ                 True
ภาค                   True
East                  True
North                 True
ลักษณะสำคัญ           True
dtype: bool

ในการแสดงผล พบว่ามีข้อมูล ชื่อย่านชุมชนเก่า,ตำบล,อำเภอ,ภาค,East,North ,ลักษณะสำคัญ ที่ยังมีค่า missing อยู่ จึงต้องทำการจัดการค่า Missing ก่อน

In [62]:
hhh = data_mix['ลักษณะสำคัญ']
hhh

0                                            ไม่มีข้อมูล
1      ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2      ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3      ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4      ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
                             ...
609    ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610    ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611    ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612    ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613    ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...
Name: ลักษณะสำคัญ, Length: 614, dtype: object

In [65]:
txt = hhh

x = txt.str.split()

print(x)

0                                          [ไม่มีข้อมูล]
1      [ชุมชนเมืองนครเขื่อนขันธ์, เป็นชุมชนย่านการค้า...
2      [ชุมชนตลาดบางพลี, เป็นชุมชนย่านตลาดการค้าเก่าแ...
3      [ชุมชนตลาดคลองสวน, เป็นชุมชนย่านตลาดการค้า, บร...
4      [ชุมชนบ้านสาขลา, เป็นชุมชนประมงของชาวนาเกลือ, ...
                             ...
609    [ดุซงญอ, เป็นชุมชนตลาด, และชุมชนความทรงจำ, "ดุ...
610    [ตะโละมาเนาะ, เป็นชุมชนเกษตรกรรม, และชุมชนโดยร...
611    [ละหาร, เป็นชุมชนเกษตรกรรม, บ้านละหารตั้งอยู่ใ...
612    [ตลาดยี่งอ, เป็นชุมชนตลาด, "เมืองยี่งอ", อาจจะ...
613    [ตลาดสุไหงปาดี, เป็นชุมชนตลาด, และชุมชนโดยรอบท...
Name: ลักษณะสำคัญ, Length: 614, dtype: object

x[0]:

#### จัดการค่า missing ด้วยวิธี Handling missing (แทนด้วย calss ใหม่ (unknow) ) โดยใช้คำสั่ง .fillna()

In [26]:
data_mix[['ชื่อย่านชุมชนเก่า']] = data_mix[['ชื่อย่านชุมชนเก่า']].fillna('ไม่มีข้อมูล')
data_mix[['ตำบล']] =data_mix[['ตำบล']].fillna('ไม่มีข้อมูล')
data_mix[['อำเภอ']] = data_mix[['อำเภอ']].fillna('ไม่มีข้อมูล')
data_mix[['ภาค']] = data_mix[['ภาค']].fillna('ไม่มีข้อมูล')
data_mix[['East']] =data_mix[['East']].fillna('ไม่มีข้อมูล')
data_mix[['North']] =data_mix[['North']].fillna('ไม่มีข้อมูล')
data_mix[['ลักษณะสำคัญ']] =data_mix[['ลักษณะสำคัญ']].fillna('ไม่มีข้อมูล')

In [27]:
data_mix.isnull().any() # ตรวจสอบอีกรอบ

จังหวัด              False
รหัสจังหวัด          False
2555visitor          False
2556visitor          False
2557visitor          False
2558visitor          False
2559visitor          False
2560visitor          False
2561visitor          False
2555income           False
2556income           False
2557income           False
2558income           False
2559income           False
2560income           False
2561income           False
ชื่อย่านชุมชนเก่า    False
ตำบล                 False
อำเภอ                False
ภาค                  False
East                 False
North                False
ลักษณะสำคัญ          False
dtype: bool

In [28]:
data_mix

           จังหวัด  ...                                        ลักษณะสำคัญ
0    กรุงเทพมหานคร  ...                                        ไม่มีข้อมูล
1      สมุทรปราการ  ...  ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2      สมุทรปราการ  ...  ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3      สมุทรปราการ  ...  ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4      สมุทรปราการ  ...  ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
..             ...  ...                                                ...
609       นราธิวาส  ...  ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610       นราธิวาส  ...  ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611       นราธิวาส  ...  ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612       นราธิวาส  ...  ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613       นราธิวาส  ...  ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...

[614 rows x 23 columns]

**จังหวัดกาญจนบุรี มีผู้มาเยี่ยมชมย่านชุมชนเก่าในปี 2560 กี่คน 2560visitor**

**จังหวัดกาญจนบุรี มีรายได้จากการมาเยี่ยมชมชุมชนเก่าในปี 2560 กี่บาท 2560income**

**จังหวัดเชียวใหม่มีย่านชุมชนเก่าใดบ้าง**

In [29]:
Ex1 =data_mix[data_mix['ชื่อย่านชุมชนเก่า']== 'นครชุม']  
Ex1[['จังหวัด','ชื่อย่านชุมชนเก่า','2560visitor','2560income']]

       จังหวัด ชื่อย่านชุมชนเก่า  2560visitor  2560income
320  กำแพงเพชร            นครชุม       752553      1529.1

In [30]:
Ex2 = data_mix[data_mix['จังหวัด']== 'เชียงใหม่']  
Ex2[['จังหวัด','ชื่อย่านชุมชนเก่า']] #จังหวัดเชียงใหม่ มีย่านชุมชนเก่าใดบ้าง

       จังหวัด                         ชื่อย่านชุมชนเก่า
196  เชียงใหม่                       ย่านการค้า ถนนท่าแพ
197  เชียงใหม่                   ย่านการค้า ถนนวิชยานนท์
198  เชียงใหม่  ย่านการค้าถนนเจริญเมือง และย่านสถานีรถไฟ
199  เชียงใหม่              ย่านถนนราชมรรคาและถนนสิงหราช
200  เชียงใหม่                   ย่านสี่แยกตลาดช้างเผือก
201  เชียงใหม่                              ย่านวัดเกตุ
202  เชียงใหม่                                บ้านดอยปุย
203  เชียงใหม่                              ทรายมูลเมือง
204  เชียงใหม่                                บ้านวัวลาย
205  เชียงใหม่                                   บ้านฮ่อ
206  เชียงใหม่                                   พวกแต้ม
207  เชียงใหม่                            บ้านช่างเคี่ยน
208  เชียงใหม่            ย่านการค้าสี่แยกอำเภอดอยสะเก็ด
209  เชียงใหม่                                 บ้านปางบง
210  เชียงใหม่                               ตลาดสันทราย
211  เชียงใหม่                             บ้านสันป่าสัก
212  เชียงใหม่                              ตลาดสันกำแพง
213  เชียงใหม่                                 บ้านปงไหว
214  เชียงใหม่                             ตลาดสันป่าตอง
215  เชียงใหม่                            บ้านทุ่งเสี้ยว
216  เชียงใหม่                            บ้านต้นแหนน้อย
217  เชียงใหม่                     ตลาดรอบสถานีรถไฟสารภี
218  เชียงใหม่                               เวียงกุมกาม
219  เชียงใหม่                             บ้านวัดจันทร์
220  เชียงใหม่                                บ้านผาหมอน
221  เชียงใหม่                           บ้านแม่กลางหลวง
222  เชียงใหม่                                   บ้านถ้ำ
223  เชียงใหม่                                บ้านปางแดง
224  เชียงใหม่                                บ้านขอบด้ง
225  เชียงใหม่                                   บ้านยาง
226  เชียงใหม่                                บ้านกองแขก
227  เชียงใหม่                             บ้านแม่สาใหม่
228  เชียงใหม่                              บ้านแม่กำปอง
229  เชียงใหม่                                  เวียงแหง
230  เชียงใหม่                              บ้านต้นเกว๋น

## **นักท่องเที่ยวที่มาเที่ยวชุมชนเก่าในจังหวัดนั้นๆมีโอกาสไปเที่ยวชุมชนเก่าในจังหวัดใดด้วย**

### K-itemset

In [31]:
transactions = data_mix.groupby('ชื่อย่านชุมชนเก่า')['รหัสจังหวัด'].apply(list) #การจัดกลุ่มชื่อย่านชุมชนเก่าโดยอิงจากรหัสจังหวัด

In [32]:
transactions  #เเสดงข้อมูลของการจัดกลุ่ม

ชื่อย่านชุมชนเก่า
กรือเซะ                  [th-pi]
กาดกองต้า                [th-lg]
การค้าถนนตราด-แหลมงอบ    [th-tt]
กูเบ                     [th-yl]
คลองน้อย                 [th-st]
                          ...
โกตาบารู                 [th-yl]
โต๊ะบาหลิว               [th-kr]
ในไร่ คลองดาว            [th-kr]
ไม่มีข้อมูล              [th-bm]
ไหล่หิน                  [th-lg]
Name: รหัสจังหวัด, Length: 609, dtype: object

In [33]:
!pip install apyori #ทำการติดตั้ง Apriori เพื่อหา frequent Itemsets

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=0ca2f0eb5bbc56e558c0b7f4d4d23d74e2f2c533015052efe44cb63d45d999df
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [34]:
from apyori import apriori #เรียกใช้ apriori

In [35]:
frequentItemsets = list(apriori(transactions,min_support = 0.0015)) #หาความสัมพันธ์โดยใช้คำสั่ง apriori ด้วยการกำหนดค่า min support = 0.0015 
frequentItemsets

[RelationRecord(items=frozenset({'th-ac'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ac'}), confidence=0.0016420361247947454, lift=1.0)]),
 RelationRecord(items=frozenset({'th-at'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-at'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-bk'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-bk'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-bm'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-bm'}), confidence=0.0016420361247947454, lift=1.0)]),
 RelationRecord(items=frozenset({'th-br'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-br'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cb'}), support=0.0180623973727422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cb'}), confidence=0.0180623973727422, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cc'}), support=0.0180623973727422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cc'}), confidence=0.0180623973727422, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cm'}), support=0.05747126436781609, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cm'}), confidence=0.05747126436781609, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cn'}), support=0.008210180623973728, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cn'}), confidence=0.008210180623973728, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cp'}), support=0.003284072249589491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cp'}), confidence=0.003284072249589491, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cr'}), support=0.031198686371100164, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cr'}), confidence=0.031198686371100164, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ct'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ct'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-cy'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-cy'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-kk'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-kk'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-kl'}), support=0.019704433497536946, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-kl'}), confidence=0.019704433497536946, lift=1.0)]),
 RelationRecord(items=frozenset({'th-kn'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-kn'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-kp'}), support=0.003284072249589491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-kp'}), confidence=0.003284072249589491, lift=1.0)]),
 RelationRecord(items=frozenset({'th-kr'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-kr'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-lb'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-lb'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-le'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-le'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-lg'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-lg'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ln'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ln'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-md'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-md'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-mh'}), support=0.027914614121510674, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-mh'}), confidence=0.027914614121510674, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ms'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ms'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-na'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-na'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nb'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nb'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nf'}), support=0.022988505747126436, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nf'}), confidence=0.022988505747126436, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nk'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nk'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nn'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nn'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-no'}), support=0.008210180623973728, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-no'}), confidence=0.008210180623973728, lift=1.0)]),
 RelationRecord(items=frozenset({'th-np'}), support=0.0180623973727422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-np'}), confidence=0.0180623973727422, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nr'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nr'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ns'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ns'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nt'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nt'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-nw'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nw'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pa'}), support=0.024630541871921183, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pa'}), confidence=0.024630541871921183, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pb'}), support=0.008210180623973728, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pb'}), confidence=0.008210180623973728, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pc'}), support=0.008210180623973728, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pc'}), confidence=0.008210180623973728, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pe'}), support=0.0180623973727422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pe'}), confidence=0.0180623973727422, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pg'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pg'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ph'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ph'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pi'}), support=0.029556650246305417, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pi'}), confidence=0.029556650246305417, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pk'}), support=0.019704433497536946, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pk'}), confidence=0.019704433497536946, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pl'}), support=0.016420361247947456, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pl'}), confidence=0.016420361247947456, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pr'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pr'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ps'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ps'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pt'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pt'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-pu'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-pu'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-py'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-py'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-re'}), support=0.014778325123152709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-re'}), confidence=0.014778325123152709, lift=1.0)]),
 RelationRecord(items=frozenset({'th-rn'}), support=0.003284072249589491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-rn'}), confidence=0.003284072249589491, lift=1.0)]),
 RelationRecord(items=frozenset({'th-rt'}), support=0.019704433497536946, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-rt'}), confidence=0.019704433497536946, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ry'}), support=0.008210180623973728, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ry'}), confidence=0.008210180623973728, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sa'}), support=0.0180623973727422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sa'}), confidence=0.0180623973727422, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sb'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sb'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sg'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sg'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sh'}), support=0.024630541871921183, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sh'}), confidence=0.024630541871921183, lift=1.0)]),
 RelationRecord(items=frozenset({'th-si'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-si'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sk'}), support=0.003284072249589491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sk'}), confidence=0.003284072249589491, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sm'}), support=0.027914614121510674, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sm'}), confidence=0.027914614121510674, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sn'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sn'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-so'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-so'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sp'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sp'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-sr'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-sr'}), confidence=0.0016420361247947454, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ss'}), support=0.0049261083743842365, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ss'}), confidence=0.0049261083743842365, lift=1.0)]),
 RelationRecord(items=frozenset({'th-st'}), support=0.026272577996715927, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-st'}), confidence=0.026272577996715927, lift=1.0)]),
 RelationRecord(items=frozenset({'th-su'}), support=0.024630541871921183, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-su'}), confidence=0.024630541871921183, lift=1.0)]),
 RelationRecord(items=frozenset({'th-tg'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-tg'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-tk'}), support=0.003284072249589491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-tk'}), confidence=0.003284072249589491, lift=1.0)]),
 RelationRecord(items=frozenset({'th-tt'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-tt'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ud'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ud'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-un'}), support=0.013136288998357963, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-un'}), confidence=0.013136288998357963, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ur'}), support=0.006568144499178982, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ur'}), confidence=0.006568144499178982, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ut'}), support=0.009852216748768473, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ut'}), confidence=0.009852216748768473, lift=1.0)]),
 RelationRecord(items=frozenset({'th-yl'}), support=0.022988505747126436, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-yl'}), confidence=0.022988505747126436, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ys'}), support=0.011494252873563218, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ys'}), confidence=0.011494252873563218, lift=1.0)]),
 RelationRecord(items=frozenset({'th-ms', 'th-br'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-ms', 'th-br'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-br'}), items_add=frozenset({'th-ms'}), confidence=0.16666666666666666, lift=11.277777777777779), OrderedStatistic(items_base=frozenset({'th-ms'}), items_add=frozenset({'th-br'}), confidence=0.11111111111111112, lift=11.277777777777779)]),
 RelationRecord(items=frozenset({'th-nr', 'th-br'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nr', 'th-br'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-br'}), items_add=frozenset({'th-nr'}), confidence=0.16666666666666666, lift=25.375), OrderedStatistic(items_base=frozenset({'th-nr'}), items_add=frozenset({'th-br'}), confidence=0.25, lift=25.375)]),
 RelationRecord(items=frozenset({'th-re', 'th-br'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-re', 'th-br'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-br'}), items_add=frozenset({'th-re'}), confidence=0.16666666666666666, lift=11.277777777777779), OrderedStatistic(items_base=frozenset({'th-re'}), items_add=frozenset({'th-br'}), confidence=0.11111111111111112, lift=11.277777777777779)]),
 RelationRecord(items=frozenset({'th-nr', 'th-ms'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nr', 'th-ms'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-ms'}), items_add=frozenset({'th-nr'}), confidence=0.11111111111111112, lift=16.916666666666668), OrderedStatistic(items_base=frozenset({'th-nr'}), items_add=frozenset({'th-ms'}), confidence=0.25, lift=16.916666666666668)]),
 RelationRecord(items=frozenset({'th-re', 'th-ms'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-re', 'th-ms'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-ms'}), items_add=frozenset({'th-re'}), confidence=0.11111111111111112, lift=7.518518518518519), OrderedStatistic(items_base=frozenset({'th-re'}), items_add=frozenset({'th-ms'}), confidence=0.11111111111111112, lift=7.518518518518519)]),
 RelationRecord(items=frozenset({'th-re', 'th-nr'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-re', 'th-nr'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-nr'}), items_add=frozenset({'th-re'}), confidence=0.25, lift=16.916666666666668), OrderedStatistic(items_base=frozenset({'th-re'}), items_add=frozenset({'th-nr'}), confidence=0.11111111111111112, lift=16.916666666666668)]),

In [36]:
frequentItemsets[-1] #เลือกข้อมูลตัวสุดท้ายออกมาดู

RelationRecord(items=frozenset({'th-re', 'th-nr', 'th-ms', 'th-br'}), support=0.0016420361247947454, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-re', 'th-nr', 'th-ms', 'th-br'}), confidence=0.0016420361247947454, lift=1.0), OrderedStatistic(items_base=frozenset({'th-br'}), items_add=frozenset({'th-re', 'th-nr', 'th-ms'}), confidence=0.16666666666666666, lift=101.5), OrderedStatistic(items_base=frozenset({'th-ms'}), items_add=frozenset({'th-re', 'th-nr', 'th-br'}), confidence=0.11111111111111112, lift=67.66666666666667), OrderedStatistic(items_base=frozenset({'th-nr'}), items_add=frozenset({'th-re', 'th-ms', 'th-br'}), confidence=0.25, lift=152.25), OrderedStatistic(items_base=frozenset({'th-re'}), items_add=frozenset({'th-nr', 'th-ms', 'th-br'}), confidence=0.11111111111111112, lift=67.66666666666667), OrderedStatistic(items_base=frozenset({'th-ms', 'th-br'}), items_add=frozenset({'th-re', 'th-nr'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-nr', 'th-br'}), items_add=frozenset({'th-re', 'th-ms'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-re', 'th-br'}), items_add=frozenset({'th-nr', 'th-ms'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-nr', 'th-ms'}), items_add=frozenset({'th-re', 'th-br'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-re', 'th-ms'}), items_add=frozenset({'th-nr', 'th-br'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-re', 'th-nr'}), items_add=frozenset({'th-ms', 'th-br'}), confidence=1.0, lift=609.0), OrderedStatistic(items_base=frozenset({'th-nr', 'th-ms', 'th-br'}), items_add=frozenset({'th-re'}), confidence=1.0, lift=67.66666666666667), OrderedStatistic(items_base=frozenset({'th-re', 'th-ms', 'th-br'}), items_add=frozenset({'th-nr'}), confidence=1.0, lift=152.25), OrderedStatistic(items_base=frozenset({'th-re', 'th-nr', 'th-br'}), items_add=frozenset({'th-ms'}), confidence=1.0, lift=67.66666666666667), OrderedStatistic(items_base=frozenset({'th-re', 'th-nr', 'th-ms'}), items_add=frozenset({'th-br'}), confidence=1.0, lift=101.5)])

RelationRecord(items=frozenset({'th-nr', 'th-br', 'th-ms', 'th-re'}), support=0.0016420361247947454, 

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'th-nr', 'th-br', 'th-ms', 'th-re'}), confidence=0.0016420361247947454, lift=1.0), 

OrderedStatistic(items_base=frozenset({'th-br'}), items_add=frozenset({'th-nr', 'th-ms', 'th-re'}), confidence=0.16666666666666666, lift=101.5), 

OrderedStatistic(items_base=frozenset({'th-ms'}), items_add=frozenset({'th-nr', 'th-br', 'th-re'}), confidence=0.11111111111111112, lift=67.66666666666667), 

OrderedStatistic(items_base=frozenset({'th-nr'}), items_add=frozenset({'th-br', 'th-ms', 'th-re'}), confidence=0.25, lift=152.25), 

OrderedStatistic(items_base=frozenset({'th-re'}), items_add=frozenset({'th-nr', 'th-br', 'th-ms'}), confidence=0.11111111111111112, lift=67.66666666666667), 

OrderedStatistic(items_base=frozenset({'th-br', 'th-ms'}), items_add=frozenset({'th-nr', 'th-re'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-br'}), items_add=frozenset({'th-ms', 'th-re'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-br', 'th-re'}), items_add=frozenset({'th-nr', 'th-ms'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-ms'}), items_add=frozenset({'th-br', 'th-re'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-ms', 'th-re'}), items_add=frozenset({'th-nr', 'th-br'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-re'}), items_add=frozenset({'th-br', 'th-ms'}), confidence=1.0, lift=609.0), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-br', 'th-ms'}), items_add=frozenset({'th-re'}), confidence=1.0, lift=67.66666666666667), 

OrderedStatistic(items_base=frozenset({'th-br', 'th-ms', 'th-re'}), items_add=frozenset({'th-nr'}), confidence=1.0, lift=152.25), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-br', 'th-re'}), items_add=frozenset({'th-ms'}), confidence=1.0, lift=67.66666666666667), 

OrderedStatistic(items_base=frozenset({'th-nr', 'th-ms', 'th-re'}), items_add=frozenset({'th-br'}), confidence=1.0, lift=101.5)])

**OrderedStatistic(items_base=frozenset({'th-nr', 'th-ms'}), items_add=frozenset({'th-br', 'th-re'}), confidence=1.0, lift=609.0)**

In [37]:
data_mix[data_mix['รหัสจังหวัด']=='th-nr'] #ดูรหัสจังหวัดว่าเป็นรหัสของจังหวัดอะไร

        จังหวัด  ...                                        ลักษณะสำคัญ
348  นครราชสีมา  ...  ชุมชนเมืองเก่า เป็นย่านพาณิชยกรรมเก่า ประกอบด้...
349  นครราชสีมา  ...  ชุมชนเมืองเก่าพิมาย เป็นย่านพาณิชยกรรมเก่า ประ...
350  นครราชสีมา  ...  ชุมชนย่านตลาดปักธงชัย เป็นย่านพาณิชยกรรมเก่า ป...
351  นครราชสีมา  ...  ชุมชนย่านการค้าสีคิ้ว เป็นย่านพาณิชยกรรมเก่า ป...

[4 rows x 23 columns]

In [38]:
data_mix[data_mix['รหัสจังหวัด']=='th-ms'] #ดูรหัสจังหวัดว่าเป็นรหัสของจังหวัดอะไร

       จังหวัด  ...                                        ลักษณะสำคัญ
429  มหาสารคาม  ...  ชุมชนเมืองเก่ามหาสารคาม เป็นย่านพาณิชยกรรมเก่า...
430  มหาสารคาม  ...  ชุมชนเมืองโบราณบ้านเชียงเหียน เป็นชุมชนที่ตั้ง...
431  มหาสารคาม  ...  ชุมชนบ้านหม้อ เป็นชุมชนขนาดกลางตั้งอยู่บนสภาพภ...
432  มหาสารคาม  ...  ชุมชนบ้านปรางค์กู่ เป็นชุมชนขนาดกลางตั้งอยู่บน...
433  มหาสารคาม  ...  ชุมชนเมืองโบราณบ้านสระ เป็นชุมชนที่ตั้งอยู่บนส...
434  มหาสารคาม  ...  ชุมชนญ้อภูไท ท่าขอนยาง เป็นชุมชนที่ตั้งอยู่บนพ...
435  มหาสารคาม  ...  ชุมชนพยัคฆภูมิพิสัย เป็นย่านพาณิชยกรรมเก่า ประ...
436  มหาสารคาม  ...  ชุมชนเมืองเก่า เป็นย่านพาณิชยกรรมเก่าของอำเภอโ...
437  มหาสารคาม  ...  ชุมชนบ้านเมืองเตา เป็นชุมชนที่ตั้งอยู่บนสภาพภู...

[9 rows x 23 columns]

In [39]:
data_mix[data_mix['รหัสจังหวัด']=='th-br'] #ดูรหัสจังหวัดว่าเป็นรหัสของจังหวัดอะไร

       จังหวัด  ...                                        ลักษณะสำคัญ
352  บุรีรัมย์  ...  ชุมชนคูเมืองเก่า เป็นย่านพาณิชยกรรมและที่พักอา...
353  บุรีรัมย์  ...  ชุมชนริมสถานีรถไฟ เป็นย่านพาณิชยกรรมเก่า ภายใน...
354  บุรีรัมย์  ...  ชุมชนประชาสันติสุข เป็นย่านพาณิชยกรรมเก่าในยุค...
355  บุรีรัมย์  ...  ชุมชนเมืองเก่า เป็นย่านพาณิชยกรรมและพักอาศัยเก...
356  บุรีรัมย์  ...  ชุมชนโดยรอบปราสาทหินเมืองต่ำ เป็นชุมชนพักอาศัย...
357  บุรีรัมย์  ...  ชุมชนพุทไธสง เป็นย่านพาณิชยกรรมเก่า ตั้งอยู่บน...

[6 rows x 23 columns]

In [40]:
data_mix[data_mix['รหัสจังหวัด']=='th-re'] #ดูรหัสจังหวัดว่าเป็นรหัสของจังหวัดอะไร

      จังหวัด  ...                                        ลักษณะสำคัญ
438  ร้อยเอ็ด  ...  ชุมชนเมืองเก่า เป็นชุมชนที่อยู่รายรอบคูเมืองโบ...
439  ร้อยเอ็ด  ...  ชุมชนสีแก้ว เป็นย่านชุมชนเก่าที่มีความทรงจำ/เห...
440  ร้อยเอ็ด  ...  ชุมชนเมืองบัว เป็นชุมชนโบราณที่มีคูน้ำคันดินล้...
441  ร้อยเอ็ด  ...  ชุมชนบ้านเมืองไพร เป็นย่านชุมชนเก่าที่มีความทร...
442  ร้อยเอ็ด  ...  ชุมชนเมืองเก่า เป็นย่านพาณิชยกรรมเก่า ประกอบด้...
443  ร้อยเอ็ด  ...  ชุมชนท่าม่วง เป็นชุมชนที่ตั้งอยู่ริมลำน้ำชี ตั...
444  ร้อยเอ็ด  ...  ชุมชนบ้านสังข์ เป็นชุมชนที่มีแหล่งน้ำธรรมชาติ ...
445  ร้อยเอ็ด  ...  ชุมชนบ้านน้ำคำ เป็นชุมชนที่ตั้งอยู่โดยรอบของโบ...
446  ร้อยเอ็ด  ...  ชุมชนบ้านสังข์ เป็นชุมชนที่มีแหล่งน้ำธรรมชาติห...
447  ร้อยเอ็ด  ...  ชุมชนธวัชดินแดง เป็นชุมชนที่มีแหล่งน้ำธรรมชาติ...
448  ร้อยเอ็ด  ...  ชุมชนฟืม (บ้านเขือง) เป็นชุมชนที่มีแหล่งน้ำธรร...

[11 rows x 23 columns]

**สรุป** ถ้าหากนักท่องเที่ยวไปท่องเที่ยวชุมชนเก่าในจังหวัด นครราชสีมา และ มหาสารคาม นักท่องเที่ยวจะไปท่องเที่ยวชุมชนเก่าในจังหวัด บุรีรัมย์ และ ร้อยเอ็ด ด้วย โดยมีค่า confidence = 100% ที่ค่า support = 0.1% ซึ่งมีค่า lift มากกว่า 1

### Decision tree

In [41]:
data_mix.to_csv('data_mix.csv') #saveข้อมูลdata mix เป็นไฟล์ csv เก็บไว้ใน Colab

In [42]:
data_mytree = pd.read_csv('data_mix.csv') #เรียกข้อมูล data mix มาใช้

In [50]:
data_mytree

     Unnamed: 0  ...                                        ลักษณะสำคัญ
0             0  ...                                        ไม่มีข้อมูล
1             1  ...  ชุมชนเมืองนครเขื่อนขันธ์ เป็นชุมชนย่านการค้าเก...
2             2  ...  ชุมชนตลาดบางพลี เป็นชุมชนย่านตลาดการค้าเก่าแก่...
3             3  ...  ชุมชนตลาดคลองสวน เป็นชุมชนย่านตลาดการค้า บริเว...
4             4  ...  ชุมชนบ้านสาขลา เป็นชุมชนประมงของชาวนาเกลือ ที่...
..          ...  ...                                                ...
609         609  ...  ดุซงญอ เป็นชุมชนตลาด และชุมชนความทรงจำ "ดุซงญอ...
610         610  ...  ตะโละมาเนาะ เป็นชุมชนเกษตรกรรม และชุมชนโดยรอบโ...
611         611  ...  ละหาร เป็นชุมชนเกษตรกรรม บ้านละหารตั้งอยู่ในอำ...
612         612  ...  ตลาดยี่งอ เป็นชุมชนตลาด "เมืองยี่งอ" อาจจะเรีย...
613         613  ...  ตลาดสุไหงปาดี เป็นชุมชนตลาด และชุมชนโดยรอบทางร...

[614 rows x 24 columns]

### K-Means

In [44]:
from sklearn.datasets import make_blobs

In [45]:
data_mix.shape

(614, 23)

In [46]:
data=data_mix.iloc[:,2:16]
data

     2555visitor  2556visitor  2557visitor  ...  2559income  2560income  2561income
0       47185031     50568902     50972772  ...   822454.21   947946.30  1051118.51
1        2107433      2204073      2350340  ...     5265.36     6144.65     6656.34
2        2107433      2204073      2350340  ...     5265.36     6144.65     6656.34
3        2107433      2204073      2350340  ...     5265.36     6144.65     6656.34
4        2107433      2204073      2350340  ...     5265.36     6144.65     6656.34
..           ...          ...          ...  ...         ...         ...         ...
609       489944       570973       589690  ...     2654.01     2888.53     3137.67
610       489944       570973       589690  ...     2654.01     2888.53     3137.67
611       489944       570973       589690  ...     2654.01     2888.53     3137.67
612       489944       570973       589690  ...     2654.01     2888.53     3137.67
613       489944       570973       589690  ...     2654.01     2888.53     3137.67

[614 rows x 14 columns]

In [47]:
X, y = make_blobs(n_samples=614, centers=2, n_features=2, random_state=6)

## **ติดerror dataframe ค่ะ**

In [48]:
X, y = data(centers=2, n_features=2, random_state=6)

TypeError: ignored

In [ ]:
from matplotlib import pyplot as plt 
plt.scatter(X[:,0],X[:,1])

#### Clustering

Import

In [54]:
from sklearn.cluster import KMeans

In [55]:
import numpy as np

Define

In [56]:
X = np.array([[data]])

In [57]:
kmeans = KMeans(n_clusters=2, random_state=6)

Fit-Predict

In [58]:
data_clust = kmeans.fit_predict(X)

ValueError: ignored

In [59]:
data_clust

NameError: ignored

In [ ]:
plt.scatter(X[:,0],X[:,1],c=data_clust)

In [ ]:
#define
kmeans = KMeans(n_clusters=3, random_state=6,init='random')
#fit-predict
data_clust = kmeans.fit_predict(X)
#plot
plt.scatter(X[:,0],X[:,1],c=data_clust)

In [ ]:
#define
kmeans = KMeans(n_clusters=3, random_state=1000,init='random')
#fit-predict
data_clust = kmeans.fit_predict(X)
#plot
plt.scatter(X[:,0],X[:,1],c=data_clust)

###KNN

###Load Data

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
X = np.array([[data_mix]])

In [ ]:
from sklearn import  datasets

data_knn = data_mix()

X = X['data']
y = X['target']

###Split Data

In [ ]:
from sklearn.model_selection import train_test_split

# train-test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=6)

# train-validation
X_train2, X_val, y_train2, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=6)

###Train Model

import

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

**knn1**

In [ ]:
# Define
neigh1 = KNeighborsClassifier(n_neighbors=3, weights='uniform')
# Train
neigh1.fit(X_train2,y_train2)
# Test
knn1_result = neigh1.predict(X_val)
accuracy_score(y_val, knn1_result)

**knn2**

In [ ]:
# Define
neigh2 = KNeighborsClassifier(n_neighbors=10, weights='distance')
# Train
neigh2.fit(X_train2,y_train2)
# Test
knn2_result = neigh2.predict(X_val)
accuracy_score(y_val, knn2_result)

**knn3**

In [ ]:
# Define
neigh3 = KNeighborsClassifier(n_neighbors=1)
# Train
neigh3.fit(X_train2,y_train2)
# Test
knn3_result = neigh3.predict(X_val)
accuracy_score(y_val, knn3_result)

###Neural Network

Import

In [ ]:
from sklearn.neural_network import MLPClassifier

Define

In [ ]:
perceptron1 = MLPClassifier(random_state=6, max_iter=2000, hidden_layer_sizes=1,learning_rate_init=0.005)

Train - Test

In [ ]:
# Train
perceptron1.fit(X_train2,y_train2)
# Test
ann1_result = perceptron1.predict(X_val)
accuracy_score(y_val, ann1_result)